html
  head
    title Simple jQuery Contact Form With Validation
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    link(rel='stylesheet', href='css/contact_form.css')
    script(src='js/contact_form.js')
    script(src='js/parsley.js')
 
  body
    #mainform
      h2 Simple jQuery Contact Form With Validation
      // Required Div Starts Here
      form#form
        h3 Contact Form
        p#returnmessage
        label
          | Name: 
          span *
        input#name(type='text', placeholder='Name') 
        label
          | Email: 
          span *
        input#email(type='email', placeholder='Email' )
        label
          | Contact No: 
          span *
        input#contact(type='text', placeholder='10 digit Mobile no.', data-parsley-length="[7, 8]")
        label Message:
        textarea#message(placeholder='Message.......')
        input#submit(type='submit', value='Send Message')